#download-yaml {
  position: absolute;
  right: 10px;
  z-index: 1;
  background: #333;
  border-width: 0;
  height: 40px;
}

#download-yaml:before {
  content: '';
  top: 0;
  left: -35px;
  height: 100%;
  border: 20px solid #333;
  border-left-color: transparent;
  position: absolute;
}

#download-yaml:hover {
  background: #0af;
}

#download-yaml:hover:before {
  border-color: #0af;
  border-left-color: transparent;
}

#download-yaml:active {
  background: #fa0;
}

#download-yaml:active:before {
  border-color: #fa0;
  border-left-color: transparent;
}

#charter-page .link {
  filter: brightness(0.5);
}

#charter-page .link:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.link-label {
  pointer-events: none;
  fill: #fff;
}

#charter-page .link:nth-child(even) {
  transform: translate(-10px, -10px);
}

#charter-page .link:nth-child(odd) {
  transform: translate(10px, 10px);
}

.link textPath {
  alignment-baseline: middle;
}

.node circle {
  cursor: all-scroll;
}

#charter-page .node text {
  cursor: pointer;
}

.node text:hover {
  fill: #fa0 !important;
}

.fixed circle {
  stroke-dasharray: 10;
}

#charter-page code {
  color: #ffae00;
  border: none;
  padding: 5px 10px !important;
  box-shadow: 0 0 30px 3px inset #222;
  min-height: 1em;
  border-radius: 3px;
  display: inline-block;
  line-height: 1em;
  background: #333;
}

#charter-page figure.charter {
  border: none;
  text-align: center;
  position: absolute;
  margin: 20px 0 0 -8px;
  height: 85%;
  width: 100%;
  box-shadow: 0 0 5px 0 inset black;
}

.charter figcaption {
  text-align: left;
  position: absolute;
  background: #666;
  top: -20px;
  padding: 5px;
}

.charter .net {
  position: relative;
  height: 100%;
}

.charget .net-svg {
  height: 100%;
}

.svg-path {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: -10px;
}

.svg-path svg {
  position: absolute;
  left: 0;
  top: 0;
}

.charter .lane {
  margin: 10px;
}

.charter-lane.exit-code.code- {
  border-color: #f0a;
  color: #f0a;
}

.followup-lane.exit-code.code- {
  border-color: #0af;
  color: #0af;
}

.salvage-lane.exit-code.code- {
  border-color: #fa0;
  color: #fa0;
}

.charter .lane.code-0 {
  color: #000;
}

.charter .lane.active {
  background: #ccc;
  font-weight: bold;
  border-color: #aaa;
}

#graph {
  width: 100%;
  height: 100%;
  position: absolute;
}

#graph canvas {
  left: 0;
  border: 1px solid #ccc;
}

.root {
  color: #f0a;
}