<template name="nav">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a class="nav-item {{active 'root'}}" href="/">Overview</a></li>
      <li><a class="nav-item {{active 'lanes'}}" href="/lanes">Lanes</a></li>
      <li><a class="nav-item {{active 'users'}}" href="/users">Users</a></li>
      <li><a class="nav-item {{active 'profile'}}" href="/profile">My Profile</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <button class="button hollow logout">Logout</button>
  </div>
</template>
