.users-table {
  width: 100%;
  text-align: center;
  position: relative;
}

.users-table th, 
.users-table td {
  border: 1px solid lightgrey;
  position: relative;
}

.users-table .expire-user-column {
  padding: 0;
}

th:first-child,
td:first-child {
  border-left-color: transparent;
}

.container .invite-user {
  width: 100%;
  text-align: center;
  color: #fff;
}

.container .invite-user:hover {
  color: #333;
  border-color: #ffae00;
  border-right-color: transparent;
  background: #ffae00;
  border-bottom-width: 0;
}

.container .invite-user:active {
  background: #fff;
}

.users-table:after,
.users-table:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  background: #ffae00;
  left: -10px;
  top: 0px;
}

.users-table .profile:hover,
.users-table .expire-user:hover {
  cursor: pointer;
  color: #333;
  background: #ffae00;
}

.users-table .profile:active,
.users-table .expire-user:active {
  cursor: pointer;
  color: #333;
  background: #fff;
}

.users-table .profile,
.users-table .expire-user {
  display: block;
  width: 100%;
  background: none;
  border: none;
  background: #333;
}

.users-table tr:nth-child(odd) .expire-user:after,
.users-table tr:nth-child(odd) .profile:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  border-right: 0.5em solid #555;
  background: none;
  top: 0;
  right: 0;
}

.users-table tr:nth-child(even) .expire-user:after,
.users-table tr:nth-child(even) .profile:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  border-right: 0.5em solid #666;
  background: none;
  top: 0;
  right: 0;
}

.users-table .user-column {
  width: 25%;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 600px;
}

.users-table th.user-column {
  padding-left: 10px;
}

.invite-user {
  font-size: 1em;
  line-height: 1;
  height: initial;
  border-width: 0;
  background: #333;
  /* padding: 20px 0;
  margin: 20px 0; */
  position: relative;
}

.invite-user:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-color: transparent;
  border-right-color: #666;
  border-width: 1em;
}

@media all 
  and (min-device-width: 280px)
  and (max-device-width: 800px) {

  .invite-user:after {
    border-width: .67em;
  }

  .captained-column {
    display: none;
  }

  #users-page {
    font-size: 50px;
  }

  .abbreviation {
    display: none;
  }

  .profile:after {
    border-width: 35px;
  }
  
  .expire-user:after {
    border-width: 75px;
  }
  
}
