.lanes-table th, td {
  border: 1px solid lightgrey;
}

table tbody tr:nth-child(odd) {
  background-color: #4f4f4f;
}

.last-shipped-header {
  width: 210px;
}

.lanes-table th {
  cursor: pointer;
  padding: 15px 0;
}

.lanes-table th:hover {
  background: #4f4f4f;
}

.lanes-table td {
  text-align: center;
  position: relative
}

.lanes-table {
  position: relative;
  width: 100%;
  border-left-color: #ffae00;
}

.lanes-table:after,
.lanes-table:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  background: #ffae00;
  left: -10px;
  top: 0px;
}

.lanes-table:after {
  top: initial;
  bottom: 0px
}

.lanes-table th.active {
  background: #0af;
  position: relative;
  color: #fff;
}

.lanes-table th.active::after {
  content: '⇩';
  color: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -8px;
}

.lanes-table th.active.reverse:after {
  content: '⇧';
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 18px;
  margin-left: -8px;
  margin-top: -2px;
}

.name-header {
  min-width: 200px;
}

.admin {
  font-size: 10px;
  position: absolute;
  width: 100%;
  min-width: 185px;
  height: 25px;
  margin-top: -25px;
  left: 0;
  display: none;
}

.admin.active {
  display: block;
}

.admin a, .admin button {
  border: 1px solid white;
  border-radius: 2px 2px 0 0;
  padding: 5px 2px;
  min-width: 45px;
  width: 25%;
  height: 25px;
  border-bottom-color: transparent;
  background: #666;
  float: left;
}

.admin a:hover,
.admin button:hover {
  border-color: #ffae00;
  border-bottom-color: transparent;
}

tr:nth-child(odd) .admin * {
  background-color: #4f4f4f;
}

th:first-child,
td:first-child {
  border-left-color: transparent;
}

td:first-child .name {
  padding-left: 35px;
  text-align: left
}

tr:first-child th:first-child {
  border-top-left-radius: 2px;
}

.lane-options {
  content: '⋯';
  font-size: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 100%;
}

.delete-lane:hover,
.lane-options:hover {
  color: #ffae00;
  border-color: #ffae00;
}

.delete-lane:hover {
  border-bottom-color: transparent;
}

.lane-options.active {
  background: #0af;
  border-color: #07c;
  color: #07c;
}

.lane-options:focus {
  outline: none;
}


td.active {
  color: darkgoldenrod;
}

td.ready {
  color: green;
}

td.error {
  color: red;
}

.loading-text {
  background: #ffae00;
}

tr.deleting {
  background: #f0a;
  opacity: 0.5;
}

tr.deleting .admin {
  display: none;
}

#new-lane:hover {
  color: #333;
  border-color: #ffae00;
  border-right-color: transparent;
}

#new-lane {
  width: 100%;
  border-width: 25px;
  height: 0;
  padding: 0;
  line-height: 0;
  border-color: #333;
  border-right-color: transparent;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .admin.active {
    margin-top: 0;
    top: 0;
    left: 98%;
    height: 100%;
    z-index: 1;
    border: 2px solid #ffae00;
    border-left-color: transparent;
  }

  .admin a, .admin button {
    border-left-color: transparent;
    border-bottom-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}