form input, form textarea {
  color: #333;
  padding: 5px 15px;
}

.lane-name, .slug {
  width: 100%;
}

form pre {
  margin-bottom: 15px;
}

fieldset {
  padding: 5px 15px;
}

.followup label,
.salvage-plan label {
  margin-left: 10px;
}

fieldset.followup {
  background: #0af;
}

fieldset.followup label {
  color: white;
}

fieldset.salvage-plan {
  background: #ffae00;
}

fieldset.harbor {
  background: #333;
  border-radius: 2px;
}

fieldset.harbor label {
  display: block;
}

fieldset.harbor input[type="text"],
fieldset.harbor input[type="password"] {
  width: 100%;
}

fieldset.harbor textarea {
  display: block;
  width: 100%;
  min-height: 250px;
}

.slug,
fieldset.captains {
  background: #7f7f7f;
}

fieldset.captains label {
  color: #333;
}

ul {
  margin-left: 20px;
}

li {
  list-style-type: circle;
  margin: 5px;
}


legend {
  color: #fff;
  background: #666;
  padding: 2px 5px;
  border-radius: 2px;
}

.add-salvage-plan:hover,
.add-harbor,
.save,
#edit-lane-page .ship-lane:hover,
.new-lane:hover,
.back-to-lanes:hover {
  color: #333;
  border-color: #ffae00;
  border-right-color: transparent;
}

.harbor-button,
.add-salvage-plan,
.add-followup,
.lane-done,
.choose-harbor-type,
.add-harbor,
.save,
#edit-lane-page .ship-lane,
.new-lane,
.back-to-lanes {
  width: 100%;
  border-width: 25px;
  height: 0;
  padding: 0;
  line-height: 0;
  border-color: #333;
  border-right-color: transparent;
  text-align: center;
}

.harbor-button,
.choose-harbor-type {
  border-color: #666;
  border-right-color: transparent;
}

.lane-done {
  color: #666;
  border-color: rgba(50, 50, 50, 0.5);
  border-right-color: transparent;
  cursor: not-allowed;
}

.add-followup:hover,
.add-harbor:hover,
.save {
  border-color: #0af;
  border-right-color: transparent;
}

.harbor-button:hover,
.choose-harbor-type:hover,
.add-harbor,
.save:hover {
  color: #333;
  border-color: #ffae00;
  border-right-color: transparent;
}

@media all 
  and (min-device-width: 280px)
  and (max-device-width: 800px) {

  #edit-lane-page,
  #edit-lane-page pre,
  #edit-lane-page textarea {
    font-size: 60px;
  }

  #edit-lane-page ul li {
    list-style-type: none;
  }
  
  input {
    min-width: 50px;
    min-height: 50px;
  }

  button.save {
    background: #0af;
  }

  button.save:active {
    background: #ffae00;
  }

  button.save:after {
    border-right-color: #333;
  }
}