<template name="main">
  {{constraints}}
  {{#if is_loaded}}
    {{#if no_users}}
      <div class="row">
        <div class="small-10 small-centered column">
          {{> add_user fresh=true}}
        </div>
      </div>
    {{else}}
      {{#if logged_in}}
        {{#if no_harbormasters}}
          {{> new_harbormaster}}
        {{else}}
          <div class="top-bar">
              {{> Template.dynamic template=header}}
              <!-- {{> nav}} -->
          </div>
          <div class="row main">
            <div class="small-10 large-12 small-centered column">
              {{> Template.dynamic template=main}}
              <!-- {{> root}} -->
            </div>
          </div>
        {{/if}}
      {{else}}
        {{> welcome}}
      {{/if}}
    {{/if}}
  {{else}}
    {{> spinner}}
  {{/if}}
  {{> meteorStatus position='top'}}
</template>
