<template name="main">
  {{#if is_loaded}}
    {{#if no_users}}
      <div class="row">
        <div class="small-10 small-centered column">
          {{> add_user fresh=true}}
        </div>
      </div>
    {{else}}
      {{#if logged_in}}
        {{#if no_harbormasters}}
          <div class="row">
            <div class="small-10 small-centered column">
              <h1>It's your Harbor!</h1>
              <h2>It doesn't look like there are any Harbormasters yet.</h2>
              <p>Since it looks like you're the first one to sign up for this harbormaster instance you'll be made the first Harbormaster.  You can change this, and add other Harbormasters, in the <a class="acknlowedge-new-harbormaster" href="/users">User</a> settings.</p>
              <a href="/" class="button success large acknowledge-new-harbormaster">Okay!</a>
            </div>
          </div>
        {{else}}
          <div class="top-bar">
              {{> Template.dynamic template=header}}
          </div>
          <div class="row main">
            <div class="small-10 large-12 small-centered column">
              {{> Template.dynamic template=main}}
            </div>
          </div>
        {{/if}}
      {{else}}
        <div class="row">
          <div class="small-10 medium-8 large-6 small-centered column">
            <h1>Welcome to Harbormaster!</h1>
            <h2>Please log in.</h2>
            {{> loginButtons}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{else}}
    {{> spinner}}
  {{/if}}
  {{> meteorStatus position='top'}}
</template>
